.game-menu-item {
	display: inline-block;
	width: 200 px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	text-align: center;
}

.game-title {
	text-align: center;
}

.sub {
	text-align: center;
	font-size: 10px;
}